.container {
	display: flex;
	margin-top: 20px;
	background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%)
}
.col-4 {
	justify-content: center;
    align-items: center;
    display: flex;
}
.bblock {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
    margin-bottom: 5px;
}
.j-btn-create,
.j-btn-replace {
	background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

}

.textbox {
	flex-direction: column;
    justify-content: flex-start;
}